{% extends "index.html" %}
{% block titulo %}{{titulo}}{% endblock %}
{% block content %}

		<h1>{{titulo}}</h1>
		{% if cir %}

		<ul>
			<li>Nombre de la circunscripción: {{cir.nombre}} </li>
			<li>Escaños: {{cir.escanos}} </li>
			
			
			
			<li>Lista de mesas de esta circunscripción
				<ul>
				{% for x in mesa %}
				  <a href =/eleccion/detalleMesa/{{x.id}}><li>{{x.nombre}}</li>
				{% endfor %}
				</ul>
			</li>
			<a href =/eleccion/editarCir/{{cir.id}}> <br> Editar circunscripción
			<a href =/eleccion/eliminarCir/{{cir.id}}><br> Eliminar circunscripción

		</ul>
			


			{% endif %}

		
{% endblock %}